@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
@import url('https://fonts.cdnfonts.com/css/pokemon-hollow');

body {
    width: 100%;
    background-image: url(../images/peakpx.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}


#game-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-screen {
    display: none;
    flex-direction: column;
    align-items: center;

}

#intro-logo {
  width: 65%;
}

.title{
background-color: #ff6961;
border: solid 5px #980800;
color: #2e67b0;
margin-bottom: 2%;
width: 30%;
font-family: 'Pokemon Solid', sans-serif;
text-align: center;
border-radius: 50%;
}

.buttonstart {
  background-color: #ffb236;
  width: 20%;
  border: solid 2px #985E00;
  padding: 0% 0 0% 0;
  font-family: 'Pokemon Solid', sans-serif;
  font-size: large;
  color: #985E00;
  margin-bottom: 1%;
}


#main-screen {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 95%;
    align-items: center;
    justify-content: center;
}

#logo-screen {
    width: 20%;
}

#first {
    width: 10%;
}

#chrono {
    background-color: #f1c304;
    border: solid 10px #2e67b0;
    width: 80%;
    text-align: center;
}

#pikachu {
    width: 100%;
}

#mapa {
    width: 60%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    overflow: auto;

}

#third {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

#stats {
    background-color: #f1c304;
    border: solid 10px #2e67b0;
    width: 80%;
    text-align: center;
}

#ash {
    width: 100%;
}

#game-end {
    display: none;
    flex-direction: column;
    align-items: center;
}

#ov {
    font-family: 'Pokemon Hollow', sans-serif;
    color:#f1c304;
    font-size: 800%;
    text-shadow: -10px 0 #2e67b0, 0 10px #2e67b0, 10px 0 #2e67b0, 0 -10px #2e67b0;
    padding: 0;
    margin: -6% 0 -2% 0;
}

#chrono span {
  font-family: 'Pokemon Solid', sans-serif;
  color:#2e67b0
}

#stats h2 {
  font-family: 'Pokemon Solid', sans-serif;
  color:#2e67b0
}

#stats p {
  font-family: 'Pokemon Solid', sans-serif;
  color:#2e67b0
}

#stats p span {
  font-family: 'Pokemon Solid', sans-serif;
  color:#2e67b0
}


#abc {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #759fd4;
    border: solid 20px #2e67b0;
    border-radius: 5%;
}

#abc h1 {
  font-family: 'Pokemon Solid', sans-serif;
  color:#2e67b0;
}

#arrPrint{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

#arrPrint img {
   width: 8%;
}


  .popup {
    display: block;
    position: fixed;
    padding: 10px;
    width: 280px;
    left: 50%;
    margin-left: -150px;
    height: 450px;
    top: 40%;
    margin-top: -100px;
    background: #51D55A;
    border: 5px solid #007708;
    z-index: 20;
  }

  .popuppoke {
    position: fixed;
    padding: 1%;
    width: 30%;
    left: 35%;
    height: 35%;
    top: 32%;
    background: #51D55A;
    border: 5px solid #007708;
    z-index: 20;
  }

  .titlepoke{
    color:#0E4FA2;
    text-align: center;
    font-family: 'Pokemon Solid', sans-serif;
    padding: 0;
    margin: 0;
  }

  .slofast {
    color:#0E4FA2;
    font-family: 'Pokemon Solid', sans-serif;
  }

  .buttonpopup {
    background-color: #ffb236;
    border: solid 2px #985E00;
    padding: 0% 0 0% 0;
    font-family: 'Pokemon Solid', sans-serif;
    font-size: medium;
    color: #985E00;
    margin-top: 30px;
    margin-bottom: 1%;
    padding: 0 3% 0 3%;
  }

  .arenas h3 {
    font-size: small;
    color:#007708;
    font-family: 'Pokemon Solid', sans-serif;
    padding: 0 1% 0 1%;
    background-color: white;
    width: 10%;
  }

  .pokes {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
  }

  .miniarena {
    background-image: url(../images/arenas/normal.webp);
    width: 15%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .popuparena {
    position: fixed;
    padding: 1%;
    width: 50%;
    left: 25%;
    height: 58%;
    top: 21%;
    background: #51D55A;
    border: 5px solid #007708;
  }

  .popuprules {
    position: fixed;
    padding: 1%;
    width: 36%;
    left: 32%;
    height: 56%;
    top: 22%;
    background: #51D55A;
    border: 5px solid #007708;
  }

  .rulesformat p{
    text-align: center;
    color:#007708;
    background-color: white;
    font-family: 'Pokemon Solid', sans-serif;

  }

  .arenas {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    margin-left: auto;
    margin-right: auto;
  }

  .pokes img{
    width: 15%;
  }

  .arenas h3 {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
  }

  #normal {
    border: 5px solid #f1c304;
  }

  #greatb {
    border: 5px solid #f1c304;
  }

  #separate {
    display: flex;
    justify-content: space-between;
  }

  #separate1 {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-bottom: 2%;
  }
  
  #buttone {
    margin-left: auto;
    margin-right: 0;
    width: 10%;
    margin-bottom: 2%;
  }

  #scores {
    width: 30%;
    border: solid 5px #980800;
    background-color: #ff6961;
    color:#0E4FA2;
    font-family: 'Pokemon Solid', sans-serif;
    text-align: center;
  }

  .popupimg {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: #007708;
    border-radius: 10%;
  }

  .titles {
    background-color: #007708;
    border: 2px solid #51D55A;
    color: white;
    padding: 2px 10px 2px 10px;
    text-align: center;
  }

  .titles1 {
    background-color: white;
    border: 2px solid #51D55A;
    color: #007708;
    padding: 8px 10px 8px 10px;
    text-align: center;
  }

  .cima {
    display: flex;
    flex-direction: column;
  }

  .lado {
    display: flex;
    flex-direction: row;
  }

  #oitenta {
    width: 90%;
  }

  #ladofirst {
    flex-basis: 50%;
  }

  #ladosecond {
    flex-basis: 50%;
  }

  #btnclose {
    font-size: x-large;
    width: 20%;
    margin-left: 40%;
    margin-top: 10px;
    background-color: #ffb236;
    border: solid 2px #985E00;
    color: #985E00;
    margin-bottom: 1%;
  }

  #footer {
    display: flex;
    background-color: #2e67b0;
    color: #f1c304;
    margin: 0 auto 0 auto;
    padding: 0;
    width: 20%;
    align-content: center;
    justify-content: center;
  }


